{% extends "base.html" %}
{% load static %}
{% block title %}Detail Page{% endblock %}

{% block content %}

<header>
  <style>
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 58px;
    }

    @media (max-width: 991px) {
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
      }
    }
  </style>

  <div id="intro" class="p-5 text-center bg-light">
    <h1 class="mb-0 h4">{{ post.title }}</h1>
  </div>
</header>
<main class="mt-4 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-4">
        <section class="border-bottom mb-4">
          <img src="{{ post.image.url }}" class="img-fluid shadow-2-strong rounded mb-4" alt="" />
          <div class="row align-items-center mb-4">
            <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">

              <span> Published <u>{{ post.created }}</u> by</span>
              <a href="" class="text-dark">{{ post.author }}</a>
              <img src="{{ post.author.userdetail.image.url }}" class="rounded-5 shadow-1-strong me-2" height="35"
                alt="" loading="lazy" />
            </div>
          </div>
        </section>
        <section>
          <p>{{ post.description }}</p>

        </section>
      </div>
      <div class="col-md-4 mb-4">
        <section class="sticky-top" style="top: 80px;">
          <section class="text-center border-bottom pb-4 mb-4">


            {% if user == post.author %}

            <a role="button" class="btn btn-success" href="{% url 'posts:update' post_id=post.id %}"
              target="_blank">Update<i class="fas fa-pen ms-2"></i></a>
            <br><br>
            <a role="button" class="btn btn-danger" href="{% url 'posts:delete' post_id=post.id %}">Delete<i
                class="fas fa-trash ms-2"></i></a>

            {% else %}
            <div class="bg-image hover-overlay ripple mb-4">
              <img src="../../media/folder.jpg" class="img-fluid" style="width:50%" />
              <a href="{% url 'auth:signup' %}" target="_blank">
                <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
              </a>
            </div>
            <h5>Register to create blogs!</h5>
            <p>You can easily create your own pos by registering.
              You will be able to change your account information.
              It will be a good choice for running your own blog.
              Thank you for using our service!</p>
            <a role="button" class="btn btn-primary" href="{% url 'auth:signup' %}" target="_blank">Register<i
                class="fas fa-plus ms-2"></i></a>
            {% endif %}

          </section>
          <section class="text-center">
            <h5 class="mb-4">Learn the Python!</h5>

            <div class="embed-responsive embed-responsive-16by9 shadow-4-strong">
              <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/_f8cpjAz0sw"
                allowfullscreen></iframe>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</main>

{% endblock %}